.rc-tree{
  list-style-type: none;
  padding: 0 16px !important;
  margin: 0 !important;
  display: flex;

  li{ 
    cursor: pointer; 
    position: relative; 
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    max-width: 100%;
  }
  .rc-tree-switcher{
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    > span{ display: flex; }
  }
  .rc-tree-node-content-wrapper{
    font-size: 13px;
    line-height: 26px;
    font-weight: bold;
    color: #666;
    padding-left: 5px;  
    display: inline-block;
    width: calc(100% - 18px);
    display: flex;
    align-items: center;
  }
  .rc-tree-iconEle{
    padding-right: 8px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    > svg{
      width: 18px; height: 18px;
    }
  }

  ul{
    list-style-type: none;
    padding: 0 0 0 10px !important;
    margin: 0 !important;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    .rc-tree-title{
      display: inline-block;
      width: calc(100% - 28px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &:hover{
        color: #3333ee;
      }
    }
  }
  // Selected
  .rc-tree-treenode-selected{
    > .rc-tree-node-content-wrapper{
      *{
        color: #3333ee;
        stroke: #3333ee;
      }
    }
  }
}