// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~toastr/toastr";
@import "~sweetalert2/src/sweetalert2";
