// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~toastr/toastr";

.selected {
  background: #4dc0b5;
}

.item p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.item-img {
  min-width: 126px;
  min-height: 126px;
}

.item .card-body {
  padding: 4px;
}

.toolbar > button:not(:first-child), .toolbar > .btn-group {
  margin-left: 4px;
}