@media (min-width: 786px){
    .reactfilemanager-wrapper .file-items .fm-item{
        flex-basis: 25%;
        max-width: 25%;
    }
}
@media (min-width: 1024px){
    .reactfilemanager-wrapper .file-items .fm-item{
        flex-basis: 20%;
        max-width: 20%;
    }
}
@media (min-width: 1200px){
    .reactfilemanager-wrapper .file-items .fm-item{
        flex-basis: 14%;
        max-width: 14%;
    }
}