.reactfilemanager-wrapper{
	.search-wrapper{
		box-sizing: border-box;
	    margin: 0;
	    min-width: 0;
	    display: block;
	    width: 100%;
	    padding: 8px;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    font-size: inherit;
	    line-height: inherit;
	    border: 1px solid;
	    border-radius: 4px;
	    color: inherit;
	    background-color: transparent;
	    background-color: white;
	    border-color: #ddd;
	    border-radius: 3px;
	    height: 39px;
	    color: var(--theme-ui-colors-text,#000);

	    
		span.tag{
			background-color: #e8f0fe;
		    display: inline-block;
		    padding: 2px 6px;
		    font-size: 10px;
		    font-weight: 600;
		    border: none;
		    margin-right: 2px;
		    color: #3334ee;
		    border-radius: .25em;
		}
		span.remove{
		    margin-left: 8px;
    		cursor: pointer;
		}
		input.search{
		    border: none;
		    box-shadow: none;
		    outline: none;
		    background-color: transparent;
		    padding: 0 6px;
		    margin: 0;
		    width: auto;
		    max-width: inherit;
		}
	}
}
@media only screen and (max-width: 800px) {
	.reactfilemanager-wrapper .search-wrapper input.search {
		width: 100px;
	}
}
