// Toastify
.Toastify__toast{ padding-left: 20px !important; }

.file-manager {
  user-select: none;
}

.fm-modal-overflow-content{
  height: 100%;
  max-height: 220px;
  overflow: scroll;
  border: 1px solid #f1f1f1;
}

#rfm{
  @import "_table";

  .fm-flex{
    display: flex;
  }
  .fm-flex-center{
    align-items: center;
    justify-content: center;
  }
  .fm-height-100{
    height: 100%;
  }
  // Padding
  .fm-p-1{ padding: 4px }
  .fm-p-2{ padding: 8px; }
  .fm-p-3{ padding: 16px; }
  .fm-px-1{ padding-left: 4px; padding-right: 4px; }
  .fm-px-2{ padding-left: 8px; padding-right: 8px; }
  .fm-px-3{ padding-left: 16px; padding-right: 16px; }

  // Gird
  .fm-grid-4{
    display: grid;
  }
}

.reactfilemanager-wrapper{
  position: relative;
  height: calc(100vh - 200px);
  width: calc(100vw - 40px);
  border: 1px solid #ddd;

  header{
      position: absolute;
      width: 100%;
      height: auto;
      z-index: 1;
  }
  .heading-title{
    border-bottom: 1px solid #3334ee;
    padding: 10px;
    margin: 20px 0 20px;
    background: #e8f0fe;
  }
  .filemanagerBody{
    position: absolute;
    top: 55px;
    bottom: 0px;
    left: 0;
    right: 0;
  }
  aside{
      height: 100%;
      overflow: auto;
      flex-basis: 350px;

      background: transparent;
  }

  main{
      height: 100%
  }
  .fm-file-block-root{
    margin: 0px !important;
    height: 100%;

    p{
      background: #f1f1f1;
      padding: 5px;
      border-top: 1px solid #ddd;    
      margin: 0px;

      font-size: 13px;
      line-height: 26px;
      font-weight: bold;
      color: #666;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  }

  div#fm-content-holder {
    padding: 0 16px;
  }

  ul.rc-tree{
      width: fit-content;
  }
  
  .rc-tree-node-content-wrapper{
    padding: 6px 10px;

    &.rc-tree-node-selected {
        background-color: #e8f0fe;
        -webkit-border-radius: 0 66px 66px 0;
        border-radius: 0 66px 66px 0;
    }
  }
  
  .folder-items{
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    margin: 0 -0.5rem 50px;

    .fm-item{
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-flex: 1 1 220px;
      -webkit-flex: 1 1 220px;
      flex: 1 1 220px;
      overflow: hidden;
      padding: 7px;
      position: relative;
      vertical-align: top;
      max-width: 100%;
      min-width: 0;
    }
    .fm-folder-block-root{
        background-color: #fff;
        border: 1px solid transparent;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-flex-direction: column;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        -webkit-transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
        transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);

        border: 1px solid #dadce0;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .react-contextmenu-wrapper{
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-flex: 0 0 48px;
      -webkit-flex: 0 0 48px;
      flex: 0 0 48px;
    }
    .folderThumb{
      -webkit-box-flex: 0 0 auto;
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
      height: 24px;
      padding: 12px 16px;
      position: relative;
      width: 56px;
    }
    p{
      -webkit-align-self: center;
      align-self: center;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-flex: 1 1 auto;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      font-weight: 500;
      overflow: hidden;
      padding-right: 12px;
      position: relative;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: -webkit-calc(100% - 56px);
      width: calc(100% - 56px);
      margin: 0px;
    }
  }
  .file-items {
      box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0 -.5rem 50px;

      .fm-item{
        max-height: 165px;
        height: 165px;

        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding: .5rem;
        background: lighten($primary, 90%);
        text-align: center;
    }
  }

  .file-items{
    .fm-item {
      -ms-flex-preferred-size: 14%;
      flex-basis: 14%;
      max-width: 14%;
      
      > div{
        box-sizing: border-box;
        flex: 0 0 auto;
        padding: 0;
        background: white;
        text-align: center;
        margin: 0.5rem;

        border: 1px solid #dadce0;
        border-radius: 6px;
        overflow: hidden;
      }
    }

    .fm-file-info {
        background: #f1f1f1;
        padding: 5px;
        border-top: 1px solid #ddd;
        font-size: 12px;
        color: #333;
        margin: 0px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .fm-file-thumb-wrapper{
        height: 118px;
    }
    .fm-file-thumb img{
        object-fit: contain;
    }
    .fm-file-thumb img,
    .fm-file-thumb{
        height: 100%;
    }
  }
  .file-items div.react-contextmenu-wrapper{
    display: inline-block;
    height: 100%;
    width: 100%;

    p{
        margin: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.5;
    }
  }
  tr.react-contextmenu-wrapper p, 
  tr.react-contextmenu-wrapper select, 
  tr.react-contextmenu-wrapper input {
      padding: 0px;
      margin: 0;
  }

  tr.react-contextmenu-wrapper {
      border-bottom: 1px solid #f1f1f1;
  }
  td.modified {
      text-align: center;
  }

  td.filepermission {
      text-align: center;
  }

  td.filesize {
      min-width: 120px;
      text-align: center;
  }

  .fm-item.fm-item-selected {
    .fm-file-block-root,
    .fm-folder-block-root{
       background: lighten($primary, 41%);
       border: 1px solid $primary;
       box-shadow: 0 0 10px lighten($primary, 40%);
    }
  }
}