table{
  border-collapse: collapse;
  thead{
    tr th{
      background: #efeffe;
      text-align: left;
      font-size: 13px;
      padding: 8px;
    }
  }
  tbody{
    tr{
      &:nth-child(even){
        background: #f5f5f5;
      }
      &:hover{
        background: #efeffe;
      }
    }
  }
}