
// // Variables
// @import 'variables';
// @import "fontawesome";
// @import "contextmenu";
// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

@import "~react-toastify/scss/main";

// @import "~rc-tree/assets/index.css";
//@import "~rc-dialog/assets/bootstrap.css";
// @import "~rc-dialog/assets/index.css";

.file-manager {
  user-select: none;
}
.fm-item {
  border: 1px solid #fff;
}
 .fm-item-selected {
   border: 1px solid #07c;
   box-shadow: 0 0 10px lighten(#07c, 40%);
 }

