$primary: #3333ee;
// // Variables
@import "~react-toastify/scss/main";


.file-manager {
  user-select: none;
}
.fm-item {
  border: 1px solid #fff;
}
 .fm-item-selected {
   background: lighten($primary, 41%);
   border: 1px solid $primary;
   box-shadow: 0 0 10px lighten($primary, 40%);
 }

.fm-modal-overflow-content{
  height: 100%;
  max-height: 220px;
  overflow: scroll;
}